body { background-color:  #FFFFFF; font-family: 'Helvetica Neue'; text-align: center 
}

h2 {
	
    
    font-size: 60px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px; }

	h1 { 
  
    font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px; }

	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


    
.nav {
    
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline; 
}
.nav a{
    display:inline-block;
    padding:10px;
}



a:link, a:visited {
    
   
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #FF4136;
}

.ct-chart {
    padding-top: 100px;
    padding-bottom: 500px;
    page-break-after: always;
    width: 1100px;
    height: 600px;
    border: 0px black solid;
    margin: auto;


}
