* body { background-color:  pink}

h1 {
	font-family: 'Helvetica Neue';
    text-align: center;
    font-size: 46px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}