* body { background-color:  pink}

h2 {
	font-family: 'Helvetica Neue'
    text-align: center; ï‚œ
	font-family: 'Helvetica Neue';
    text-align: center;
    font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px; }