html {

	height: 90vh;
}

body {

	margin: 2%;
	margin-top: 1.5%;
	background-color: #ffffff;
	min-height: 90vh;

	
}

@font-face {
    font-family: 'ahamono';
    src: url("AHAMONO-Monospaced.otf");
}

@font-face {
    font-family: 'Akzidenz-Grotesk BQ';
    src: url("AkzidenzGrotesk-Bold.otf");
}

.pres {

	height: 100%;
	width: 100%;
}

.intro6 #nav6 p {

	font-family: "ahamono";
	color: #000;

}

#nav6 {

	position: 
}

#presentation h3 {


	position: absolute;
  	padding-top: 150px;
  	padding-left: 150px;
  	padding-right: 200px;
  	padding-bottom: 0px;
	font-family: "helvetica neue";
	font-size: 42px;
	font-style: bold;
	text-align: center;



}


#top, #bottom, #left, #right {
	background: #000;
	position: fixed;
	z-index: 100;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

		@media 

/* Fairly small screens including iphones */
only screen and (max-width: 500px),

/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px) 

{
	#top, #bottom, #left, #right { display: none; }
}

/*
.intro1 #nav1 p {

font-family: "ahamono";
color: #000000;

}

*/

.align-left1 {

	float: left;
	position: relative;
	margin-top: 

}

.align-right1 {

		float: right;
	position: relative;
	margin-right: 2%;
	border-bottom: 2px solid;

}

.align-left2 {

	float: right;
	position: relative; 
 	margin-top: 
 	margin-left: 2%;  
}


.align-right2 {

 		float: right;
 	position: relative;
	
	margin-left: 2%;
	
	
}

.align-left3 {

	position: fixed; 
 
  top: 100%; 
  margin-top:-50px; 
}

.align-left2:hover {

text-decoration: none;
border-bottom: 2px solid;

}

.align-right1:hover {

text-decoration: none;
border-bottom: 2px solid;

}

.align-left1:hover {

	text-decoration: none;
border-bottom: 2px solid;
}

.align-right2:hover {

text-decoration: none;
border-bottom: 2px solid;

}

/*
#introduction2 .name2 {


font-family: helvetica neue;
font-size: 35px;
float: left;
margin-left: 10%;
margin-top: 10%;

}

#introduction2 .bread2 {

	font-family: helvetica neue;
	font-size: 18px;
	padding-top: 0px;
	padding-right: 170px;
	padding-left: 170px;
}



#introduction2 .spec10 {

	font-family: helvetica neue;
	font-size: 18px;
	float: left;
	margin-top: 200px;
	margin-left: px;


}

#introduction2 .spec20 {

font-family: helvetica neue;
	font-size: 18px;
	padding-top: 20px;
	padding-right: 170px;
	padding-left: 170px;

}

*/


#introduction2 .spec30 {

font-family: helvetica neue;
	font-size: 18px;
	float: left;
	margin-left: 8%;
	margin-top: 30%;
	z-index: 100;

}


#introduction {

	max-width: 100%;

}

.name2 {

	position: absolute;
	max-width: 100%;
	top: 30%;
	left: 25%;
	font-family: "Akzidenz-Grotesk BQ";
	font-size: 40px;
	
}





.bread2 {

	position: absolute;
	max-width: 100%;
	top: 50%;
	left: 16%;
	right: 16%;
	font-family: "Akzidenz-Grotesk BQ";
	font-size: 20px;
}


/*
.spec {


	position: absolute;
	max-width: 80%;
	top: 75%;
	left: 10%;
	font-family: "Akzidenz-Grotesk BQ";
	font-size: 20px;

}

*/

/*

.spec1 {


	position: absolute;
	max-width: 80%;
	top: 75%;
	left: 40%;
	font-family: "Akzidenz-Grotesk BQ";
	font-size: 20px;

}

*/

.spec30 {

position: absolute;
	max-width: 80%;
	float: left;
	font-family: "Akzidenz-Grotesk BQ";
	font-size: 20px;
	padding-top: 60px;
	padding-left: 70px;

}

#vimeo  {

	max-width: 100%

}

iframe.ri {

position: absolute;
	max-width: 100%;
	top: 10%;
	left: 10%;
	margin-bottom: 80px;

}

iframe.ri:empty
{
	top: 110%;
	left: 20%;
	
}

}