html {

	height: 90vh;
}

body {

	margin: 2%;
	margin-top: 1.5%;
	background-color: #ffffff;
	min-height: 90vh;
	
}

@font-face {
    font-family: 'ahamono';
    src: url("AHAMONO-Monospaced.otf");
}

@font-face {
    font-family: 'Akzidenz-Grotesk BQ';
    src: url("AkzidenzGrotesk-Bold.otf");
}

.pres {

	height: 100%;
	width: 100%;
}

.intro3 #nav3 p {

	font-family: "ahamono";
	color: #000;

}

.info {


	position: absolute;
  	padding-top: 150px;
  	padding-left: 150px;
  	padding-right: 200px;
  	padding-bottom: 0px;
	font-family: "Akzidenz-Grotesk BQ";
	font-size: 42px;
	font-style: bold;
	text-align: center;



}


#top, #bottom, #left, #right {
	background: #000;
	position: fixed;
	z-index: 100;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

		@media 

/* Fairly small screens including iphones */
only screen and (max-width: 500px),

/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px) 

{
	#top, #bottom, #left, #right { display: none; }
	#email .phone { font-size: 37px !important;	}
}

@media (max-width:1200px){
	#email .mail {
		margin-left:0 !important;
	}
}
@media (max-width:900px){
	#email .words {
		float:none !important;
	}
}


/*
.intro1 #nav1 p {

font-family: "ahamono";
color: #000000;

}

*/

#email {

	width: 100%;
	text-align: center;
	padding-top:170px;

}
.align-left1 {

		float: left;
	position: relative;
	margin-top: 

}

.align-right1 {

	float: right;
	position: relative;
	margin-right: 2%;
}

.align-left2 {

	float: right;
	position: relative; 
 	margin-top: 
 	margin-left: 2%; 
}


.align-right2 {

 		float: right;
 	position: relative;
	
	margin-left: 2%;
	
	border-bottom: 2px solid;
	
	
	
}


.align-left2:hover {

text-decoration: none;
border-bottom: 2px solid;

}

.align-right1:hover {

text-decoration: none;
border-bottom: 2px solid;

}

.align-left1:hover {

	text-decoration: none;
border-bottom: 2px solid;
}

.align-right2:hover {

text-decoration: none;
border-bottom: 2px solid;

}



#email .mail {

	
  	float: left;
  	font-family: "Akzidenz-Grotesk BQ";
	font-size: 60px;
	padding-right: 20px;
	color: black;
	width: 10%;
	margin-left: 320px;

}

#email .mail:hover {

text-decoration: line-through;

}

#email .phone {

	
  	float: left;
  	width: 40%;
	font-family: "Akzidenz-Grotesk BQ";
	font-size: 60px;
	color: black;

}

#email .phone:hover {

text-decoration: line-through;

}

#email .words {

	float: left;
	width: 15%;
	
	font-family: "Akzidenz-Grotesk BQ";
	font-size: 60px;
	color: #d3d3d3;

}


